*{
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.lang{
    width: 45px;
    height: 30px;
}

.dropdownmenu-size{
    min-width: 5rem !important;
}

.aligning{
    text-align: justify;
}

.margin-row{
    margin-top: 5rem;
    padding-top: 2rem;
}

.images:hover {
    filter: opacity(.5);
}

.notes{
    color: rgb(202, 16, 16);
    font-style: italic;
}

.heading{
    font-size: 2.5vw !important;
}

.styling{
    font-size: 2.3vw !important;
    /* font-size: 2rem !important; */

}

.section-margin{
    width: 90%;
    margin: 6rem auto;
    padding: 3rem 1rem;
}
.galery-carousel{
    width:100%;
    height: 25rem;
}
.galery-size{
    width:80vw; 
    margin: auto;
    padding-bottom: 2rem;
}

#galery-pictures{
    margin: 2rem auto;
}
#galery-pictures > div>div> img{
    width:100% !important; 
    height:10rem !important;
}
.galery-pictures{
    width:80vw; 
    margin: auto;
}

.carousel-marging{
    margin-top: 0rem;
}

.card-margin{
    margin-right:1rem ;
}
.heading-marging{
    margin-top: 6rem;
    /* margin-bottom: 1rem; */
}

.contact-picture{
    width:60% !important; 
    height:3rem !important;
}
#contact-group > div > img{
    width:60% !important; 
    height:5rem !important;
}


.home-move {
    /* The image used */
    background-image: url("../images/fondo.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-move {
    /* The image used */
    background-image: url("../images/pila.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* ------ */
.snip1361 {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    /* margin: 10px; */
    /* min-width: 230px;
    /* max-width: 315px; */
    /* width: 100%; */ 
    width: 10%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
}
.snip1361 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
/* .snip1361 img {
    max-width: 100%;
    vertical-align: top;
} */
.snip1361 figcaption {
    position: absolute;
    top: calc(77%);
    width: 100%;
    background-color: #111111;
    padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
    margin: 0 0 10px;
}
.snip1361 h3 {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.2em;
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
}
.snip1361 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
}
.snip1361 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
    top: 80px;
}